body {
	padding: 0;
	margin: 0;
}

.toolbar {
	width: 100%;
	height: 48px;
	background: #039BE5;
}

.toolbar .back {
	width: 18px;
	height: 18px;
	margin-left: 8px;
	margin-top: 15px;
	margin-right: 12px;
}

.toolbar .sp-01 {
	height: 48px;
	line-height: 48px;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.serial-num {
	display: inline-block;
	padding: 0;
	margin: 0;
	height: 48px;
	float: right;
	line-height: 48px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 10px;
	margin-right: 10px;
}

.img-top{
	width: 100%;
}

.content-one {
	height: 48px;
	vertical-align: top;
}

.content-one span {
	line-height: 48px;
	color: #009966;
	font-size: 14px;
	font-weight: bold;
	margin-left: 8px;
}

.content-one img {
	width: 18px;
	float: right;
	margin: 15px;
}

.tv-one {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: 25px;
	color: #00B050;
}

.tv-two {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: #00B050;
	margin-top: 5px;
}

.tv-three {
	font-weight: bold;
	font-size: 15.5px;
	color: #00B050;
	margin-top: 20px;
	margin-left: 25px;
}

.img-gif {
	width: 15rem;
	height: 15rem;
	margin-top: 25px;
	margin-bottom: 8px;
}

.person-info {
	background: #00B050;
	margin: 15px;
	padding-left: 10px;
	padding-top: 5px;
	color: rgba(255, 255, 255, 0.9);
}

.person-info .info-title {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	font-size: 15px;
}

.div-line {
	border-top: #DADADA solid 1px;
	background: linear-gradient(#DADADA, #E8E8E8);
	height: 10px;
	margin-bottom: 20px;
}

.confirm-info {
	font-size: 13px;
	background: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 7px;
	color: #0862A7;
}

.confirm-info .img-contacts {
	width: 15px;
	height: 15px;
	margin-left: 15px;
}

.confirm-info .tv-01 {
	color: #FAAC18;
	font-weight: bold;
	vertical-align: top;
}

.confirm-info .tv-02 {
	color: #0862A7;
	vertical-align: top;
}

.confirm-info .tv-03 {
	color: #0862A7;
	font-weight: bold;
	vertical-align: top;
}

.confirm-info .tv-04 {
	color: #009966;
	font-weight: bold;
	vertical-align: top;
}

.line {
	height: 1px;
	background-color: #808080;
	margin-left: 15px;
	margin-right: 15px;
}

.div-line-two {
	border-top: #DADADA solid 1px;
	background: linear-gradient(#DADADA, #E8E8E8);
	height: 15px;
	margin-top: 20px;
}

.line-two {
	height: 1px;
	background-color: rgba(153,153,153,1);
}

.time {
	color: #808080;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 13px;
}


.copyright{
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 25px;
	background: #F3F3F3;
}



